/* Add any additional custom styles here */
.hero {
  /* background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)); */
  background-size: cover;
  background-position: center;
}

.accent-blue-500 {
  accent-color: #3b82f6;
}
