.player-table {
  width: 40vw;
  border-collapse: collapse;
  margin-left: 30vw;
}

.player-table th,
.player-table td {
  padding: 8px;
  border: 1px solid #ccc;
}

.player-table th {
  background-color: #ddd;
  text-align: left;
}

.player-table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.player-table tbody tr:hover {
  background-color: #e5e5e5;
}
