.create-room-component {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .create-room-component h3 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
  }
  
  .create-room-component input {
    padding: 0.5rem;
    font-size: 1.2rem;
    margin-bottom: 1rem;
    width: 200px;
    margin-right: 10px;
  }
  
  .create-room-component label {
    font-size: 1rem;
    margin-bottom: 0.5rem;
  }
  
  .create-room-component button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .create-room-component button:hover {
    background-color: #555;
  }
  